body{
    background-color:blanchedalmond;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 25px;
    color: black;
    border: 30px solid rgb(208, 86, 42);
    margin: 20px;
    padding: 40px;
    text-align: center;
}

ol{
    list-style-position:inside;
}
ul{
    list-style-position:inside;
}

.allLinks a {
    color: rgb(24, 94, 67);
    font-size: 20px;
}
.emphasizedText{
    font-size: 35px;
    font-weight: bold;
}
.subText{
    font-size: 20px;
    font-style: normal;
    color: black;
}
.footer{
    font-size: 10px;
    color: grey;
}
